.input-container{
  min-height: 600px;
  max-width: 1000px;
  margin-top: 60px;
  border-radius: 45px;
}

.coords-container{
  max-width: 200px;
}

.submit-coords-btn{
  font-family: $font-family-sans-serif !important;
}

.submit-coords-btn:focus{
  box-shadow:none !important;
}